body{
margin: 0;
    font-family: "Noto Sans TC", Helvetica,  Tahoma, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    background-color: rgb(234, 217, 217);
}

.header{
display: flex;
justify-content: space-between;
font-size:14px ;
border-bottom: 1px solid #cfcfcf;
padding-bottom: 5px;
background-color: rgb(255, 255, 255);
}

.logo{
flex:none;
width: 200px;
}

.nav{
display: flex;
justify-content: end;
align-items: center;
}

.opt{
flex: none;
margin-left:20px;
padding:5px;
text-align: center;
transition:  ease;
transition-duration: 0.3s; 
background-color: rgb(255, 255, 255,0);
border-radius: 10px;
letter-spacing: 0.1em;
}

.opt:hover {
cursor: pointer; 
background-color: rgb(70,70,70);
padding-left:10px;
padding-right:10px;
color: rgba(255, 255, 255); 
}

.null{
color: rgb(1, 1, 1,0); 
}

.content{
    margin:0 25%;
    padding-top: 20px;
    
}

details {
  border: 1px solid #aaa;
  border-radius: 8px;
   padding:0 1em;
  margin-bottom:10px;
   line-height:200%;
   background-color: rgb(255, 255, 255);
}
details:hover {
background-color: rgb(210, 179, 179);
box-shadow: inset 0 0 5px #a07979; 
 }

details[open] {
  padding: 0 1em 1em;
  line-height:200%;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0; 
}

summary {
  font-size:20px ;
  font-weight: 500;
  cursor: pointer;
  list-style-position: outside;
  margin-left: 15px;
}
summary:hover {
  margin-top: 1px;
  margin-left: 17px;
transition: margin 0.2s;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  padding-bottom:0.1em;
  margin-bottom: 5px;
}

p{
  margin: 0;
}

h3{
  margin: 0;
}


